.main_content {
  background: white; }

.recommended {
  background: none; }

.recommended__title {
  text-align: center;
  -ms-transform: scale(1, 2);
  transform: scale(1, 2);
  font-family: "Roboto Bold"; }

.recommended__title-striking {
  color: #30508a; }

.recomendado__content {
  height: 300px;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  min-width: 612px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .recomendado__content div {
    width: 200px;
    height: 200px;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    margin: 40px;
    padding: 10px; }

.recomendado__content__cuadros p {
  font-family: "Roboto-Thin"; }

.recomendado__content__cuadros img {
  width: 120px;
  height: 120px;
  border-radius: 10%; }

.slideshow img {
  height: 737px; }

@keyframes example {
  0% {
    background-color: #0078ff; }
  25% {
    background-color: #4aa7d4; }
  50% {
    background-color: #95b7ff; }
  100% {
    background-color: #a2e2f4; } }

footer {
  clear: both;
  position: relative;
  left: 0px;
  bottom: 0px;
  height: 50px; }

.browser {
  height: 100px;
  padding: 20px;
  margin: auto; }

.title {
  text-align: center; }

.title__title {
  color: #30508a; }

.summary {
  background: white;
  width: 100%;
  height: 600px; }

.summary__image {
  width: 50%;
  height: 300px; }

.summary__image-poosition {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.summary__paragraph {
  width: 50%;
  height: 200px;
  margin: 10px; }

.summary__paragraph-position {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.background-modifier {
  background-color: white; }

.mt-100 {
  margin-top: 100px; }

.mb-100 {
  margin-bottom: 100px; }

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: white;
  background-clip: border-box;
  border: 0px solid transparent;
  border-radius: 0px; }

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem; }

.card .card-title {
  position: relative;
  font-weight: 600;
  margin-bottom: 40px; }

.comment-widgets {
  position: relative;
  margin-bottom: 10px; }

.comment-widgets .comment-row {
  border-bottom: 1px solid transparent;
  padding: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0; }

.p-2 {
  padding: 0.5rem !important; }

.comment-text {
  padding-left: 15px; }

.w-100 {
  width: 100% !important; }

.m-b-15 {
  margin-bottom: 15px; }

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.76563rem;
  line-height: 1.5;
  border-radius: 1px; }

.btn-cyan {
  background-color: #27a9e3;
  border-color: #27a9e3; }

.btn-cyan:hover {
  background-color: #1a93ca;
  border-color: #198bbe; }

.comment-widgets .comment-row:hover {
  background: rgba(0, 0, 0, 0.05); }

.header {
  grid-area: header; }

.image_description, .image1, .image2, .image3, .image4 {
  align-self: center; }
  .image_description img, .image1 img, .image2 img, .image3 img, .image4 img {
    width: 300px;
    height: 200px;
    border-radius: 10%; }

.image1 {
  grid-area: image1; }

.image2 {
  grid-area: image2; }

.image3 {
  grid-area: image3; }

.image4 {
  grid-area: image4; }

.description, .description1, .description2, .description3, .description4 {
  width: 150px;
  height: 200px;
  align-self: center; }

.description1 {
  grid-area: description1; }

.description2 {
  grid-area: description2; }

.description3 {
  grid-area: description3; }

.description4 {
  grid-area: description4; }

.heart, .heart1, .heart2, .heart3, .heart4 {
  width: 40px;
  height: 40px;
  align-self: center; }

.heart1 {
  grid-area: heart1; }

.heart2 {
  grid-area: heart2; }

.heart3 {
  grid-area: heart3; }

.heart4 {
  grid-area: heart4; }

.map {
  grid-area: map; }
  .map img {
    max-width: 100%;
    max-height: 100%; }

.map__img-black_border {
  outline-color: black;
  outline-style: groove; }

.grid-container {
  display: grid;
  grid-template-areas: 'header header header map' 'image1 description1 heart1 map' 'image2 description2 heart2 map' 'image3 description3 heart3 map' 'image4 description4 heart4 map';
  grid-template-columns: auto auto auto 50%;
  grid-gap: 10px;
  padding: 10px; }
  .grid-container div {
    text-align: center;
    padding: 10px; }

.center {
  display: flex;
  justify-content: center;
  align-items: center; }
