/* general */
.class_p {
    color: blue;
}
.class_h1 {
    color: rebeccapurple;
}
.class_h1_recomendado {
    color: red;
    -ms-transform: scale(2,3); /* IE 9 */
    transform: scale(2,3); /* Standard syntax */
}
li  {
    color: green;
}

/* utils */
.center {
    text-align:center;
}
.right {
    text-align:right;
}
.class_center{
    text-align:center;
    height: 350px;
    border:1px solid green;
    padding: 2px;
}

/* table */
table, th, td {
    border: 1px solid black;
}

/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}