.header { 
  grid-area: header; 
}

.image1 { grid-area: image1; }
.image2 { grid-area: image2; }
.image3 { grid-area: image3; }
.image4 { grid-area: image4; }

.description1 { grid-area: description1; }
.description2 { grid-area: description2; }
.description3 { grid-area: description3; }
.description4 { grid-area: description4; }

.heart1 { grid-area: heart1; }
.heart2 { grid-area: heart2; }
.heart3 { grid-area: heart3; }
.heart4 { grid-area: heart4; }

.map { grid-area: map; }

.grid-container {
    display: grid;
    grid-template-areas:
    'header header header header'
    'image1 description1 heart1 map'
    'image2 description2 heart2 map'
    'image3 description3 heart3 map'
    'image4 description4 heart4 map';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }

  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .centrer { 
    position: center; 
  }